<h1><%= @track.name %></h1>
<table width="25%">
    <tr>
        <th>Band</th>
        <th>Album</th>
        <th>Lyrics</th>
    </tr>
    <tr>
        <td><%= @track.band_name %></td>
        <td><%= @track.album_name %></td>
        <td><%= @track.lyrics %></td>
    </tr>
</table>
